
.manage-jobs-container {
    margin: 0px auto;
    padding: 40px;
    max-width: 900px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.jobs-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.jobs-table th, .jobs-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
}

.jobs-table th {
    background-color: #113b8f;
    color: #ffffff;
    text-align: left;
    font-weight: 600;
    letter-spacing: 1px;
}

.jobs-table td {
    color: #333;
}

.jobs-table td a {
    color: #0073b1;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.jobs-table td a:hover {
    color: #005582;
    text-decoration: underline;
}

.manage {
    margin-top: 50px;
    font-weight: bold;
    font-size: 1.8em;
    color: #333;
    text-align: center;
    letter-spacing: 1px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .manage-jobs-container {
        padding: 0px;
        max-width: 100%;
        /* margin: 50px auto; */
    }

    .jobs-table th, .jobs-table td {
        padding: 10px;
    }

    .manage {
        font-size: 1.5em;
    }
}