
.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7fa;
}

/* Main content */
.main-content {
  flex: 1;
  margin-top: 50px;
  transition: margin-left 0.3s ease, width 0.3s ease;
  background-color: #d9e2ea;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}












